
<!-- BARRA MENÚ -->
<nav class="navbar navbar-fixed-top colorheader">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#"> Logo en header -->
      <!-- <a href="index.html"> <img src="img/logogaleria.png" style="width: 60px; filter: invert(100%)"alt="Logo" /></a> Logo en header -->
      <!-- </a> -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="index.html">Home</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Galerías más populares
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Madrid</a>
            </li>
            <li>
              <a href="#">Barcelona</a>
            </li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink= "/formulario-galerias">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a href="signin.html">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- FIN BARRA MENU -->

<header>
  <div class="wrapper">
    <div class="logo">
      <a routerLink= "/listado-galerias">
        <img src="assets/img/logogaleria.png" alt="Logo" />
      </a>
    </div>
    <div class="naming">
      <h1 class="funo">Ande Arte</h1>
      <h2 class="fdos">Tu buscador de galerías</h2>
    </div>

    <!--<div class="fotouser">
                <a href="signin.html">
                    <img src="./assets/img/userdefault.png" alt="usuario" />
                </a>
              </div>-->
  </div>
</header>
