<!-- FOTTER EN LINEA -->
<footer>
<div class="footer-bottom">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="copyright">
        © 2018, AndeArte Corp.
        <div class="blockCorp">
       <a target="_blank" href="#">Aviso Legal </a> |
       <a target="_blank" href="#">Privacidad</a> |
       <a target="_blank" href="#">Contacto</a>
       </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="design">
        <ul class="social-icons social-icons-round ">
          <li><a href="https://github.com/missmay4/AndeArte_Proyect"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
     </div>
   </div>
 </div>
</div>
</footer>
<!-- FIN DE FOTTER -->
