<!-- Comentarios -->
   <div class="centrar">
    <div class="wrapper">
     <div class="comentuse">
      <h3 class="fdos">Comentarios de los visitantes</h3>
      </div>
    </div>
   </div>

    <!-- Com movil -->
   <div class="blockcomMovil">
     <div class="wrapper">
        <div class="recuadroCom">
          <div class="mvTop">
            <div class="mvImg">
              <img src="assets/img/sara.jpeg" alt="foto"/>
            </div>
             <div class="mvNomb">
              <p class="fdos">Sara A.</p>
              <p class="fcuatro">2 de Noviembre 2017</p>
             </div>
          </div>
           <div class="mvDown">
              <p class="ftres">Mi experiencia en la galeria fue extraordinaria. la atención fue magnifica y me asesoraron e informaron acerca de los artistas cuyas obras estaban expuestas. Al final, terminé comprando dos obras y quiero volver a por mas muy pronto!.</p>
           </div>
          </div>
 <hr>
           <div class="recuadroCom">
          <div class="mvTop">
            <div class="mvImg">
              <img src="assets/img/mikel.jpeg" alt="foto"/>
            </div>
             <div class="mvNomb">
              <p class="fdos">Mikel C.</p>
              <p class="fcuatro">3 de Enero 2017</p>
             </div>
           </div>
           <div class="mvDown">
               <p class="ftres">Creo que la galería merece buena puntuación, sin embargo la zona no es muy buena, por eso ten cuidado cuando vayas porque suelen robar en los alrededores.</p>
           </div>
          </div>
 <hr>
           <div class="recuadroCom">
          <div class="mvTop">
             <div class="mvImg">
              <img src="assets/img/alvaro.jpeg" alt="foto"/>
             </div>
             <div class="mvNomb">
              <p class="fdos">Alvaro B.</p>
              <p class="fcuatro">6 de Febrero 2017</p>
             </div>
           </div>
           <div class="mvDown">
              <p class="ftres">Es una magnífica galería. Sin duda volvería a ir y la recomiendo 100%. Además la atención es inmejorable.</p>
          </div>
          </div>
       </div>
   </div>