

<div class="wrapper">

  <main>
    <div class="section">
      <h3 class="funo">Perfil de Usuario</h3>
      <div class="bloquep">
        <img src="assets/img/usuaria.jpg" alt="Usuaria" />
      </div>

      <div class="bloquep dat">
        <p class="ftres">
          <b>Nombre:</b> Antígona Sánchez{{nombre}}</p>
        <p class="ftres">
          <b>Nombre de usuario:</b> antígona{{nombreUs}}</p>
        <p class="ftres">
          <b>Email:</b>
          <i>antigonasnchz@gmail.com{{email}}</i>
        </p>
        <p class="ftres">
          <b>Fecha de nacimiento:</b> 31-01-1990{{birthdate}}</p>
        <p class="ftres">
          <b>Propietario/a:</b>
          <a routerLink= "/vista-detalle">Galería Magda Bellotti{{propietar}}</a>
        </p>
        <!--<p class="ftres">Acciones</p>-->
        <a routerLink= "/creargaleria">
          <button type="button" class="btn btn-default btn-md">Añadir nueva galería</button>
        </a>
        <a routerLink= "/editargaleria">
          <button type="button" class="btn btn-default btn-md">Editar galería existente</button>
        </a>


      </div>

    </div>
  </main>


</div>
