.section {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #ecf0f1;
    
}

.bloquep {
    width: 50%;
    float: left;
    margin: 30px 0 30px 0;
    /*text-align: center;*/
}

.dat {
    margin:50px 0 50px 0;
}

.bloquep img {
    border-radius: 50%;
    max-width: 50%;
}
.bloquep p {
    margin:5px 0 5px 0;
}


.bloquep.dat button a{
    text-decoration: none;
    color: initial;
}
