<!-- MAIN IMAGENES DE GALERIAS -->
<main>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h1>Tus galerías más cercanas <i class="fa fa-location-arrow" id="geo" aria-hidden="true"></i></h1>
      <h4 id="data"></h4>
      <div class="row">

        <div class="col-lg-3 col-md-6 block col-xs-12">
          <a href="vistaDetalle.html">
                 <img src="assets/img/galeriamagdamadrid.jpg" alt="MagdaMadrid.jpg" /> </a>

             <h3>Magda Bellotti</h3>
           </div>
           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="vistaDetalle.html">
                  <img src="assets/img/galeriabacelosmadrid.jpg" alt="BacelosMadrid.jpg" /> </a>
             <h3>Bacelos</h3>
           </div>

           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="vistaDetalle.html">
                  <img src="assets/img/fotogaleria.jpg" alt="Ardearte.jpg" /> </a>
             <h3>Arde Arte</h3>
           </div>

           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="vistaDetalle.html">
                  <img src="assets/img/ardearte.jpg" alt="Ardearte.jpg" /> </a>
             <h3>Arde Arte</h3>
           </div>

           <div class="col-lg-12 col-xs-12">
             <h1>Galerías más buscadas por nuestros usuarios </h1>
             <h4 id="data"></h4>
             <div class="row">


           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="_blank">
                 <img src="assets/img/abramovic.jpg" alt="abramovic.jpg" /> </a>
             <h3>Marina Abramovic</h3>
           </div>
           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="_blank">
                 <img src="assets/img/loregallery.jpg" alt="artgallery.jpg" /> </a>
             <h3>Random Paint</h3>
           </div>

           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="_blank">
                 <img src="assets/img/artgallery.jpg" alt="MargotMadrid.jpg" /> </a>
             <h3>Max Estrella</h3>
           </div>

           <div class="col-lg-3 col-md-6 block col-xs-12">
             <a href="_blank">
                 <img src="assets/img/marlboroughbcn.jpg" alt="marlboroughbcn.jpg" /> </a>
             <h3>Marl Borough</h3>
           </div>

         </div>
       </div>
       </div>
     </div>
  </div>
</div>
</main>

<!-- FIN MAIN IMAGENES DE GALERIAS -->
