<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <app-header></app-header>
</div>
<!-- <app-listado-galerias></app-listado-galerias> -->
<!-- <app-vista-detalle></app-vista-detalle> -->
<!-- <app-buscador></app-buscador> -->
<!-- <app-listado-galerias></app-listado-galerias> -->
<!-- <app-formulario-galerias></app-formulario-galerias> -->
<!--<app-comentarios></app-comentarios> -->
<router-outlet></router-outlet>
<div class="wrapper">

    <app-footer></app-footer>
</div>

