<main class="fondocolor">

         <!-- Body -->
   <!-- Nombre Galería -->
   <div class="centrar fondocolor">
       <div class="wrapper">
          <div class="nombreg">
           <h1 class="funo">Galería Magda Bellotti{{galeria.name}}</h1>
           </div>
       </div>
   </div>

   <!-- Valoración -->
   <div class="cajaEst fondocolor">
   <div class="valoEstr" id="rateYo">
   </div>
   </div>

   <!-- Descripción -->
<div class="fondocolor">


   <div class="centrar mediovg fondocolor">
      <div class="wrapper">
         <div class="descripcion">

       <p class="fdos"> Fundada en 1980, Galería Magda Bellotti nace con el objetivo de dar a conocer el arte en el corazón de la capital española. Especializada en pinturas de los siglos XIX y XX. {{descripcion}} </p>


       <div class="ftres centrar">
           <table>
             <tr>
               <td>Dirección:</td>
               <td> Calle Fúcar nº22 28014 Madrid {{direccion}}
               </td>
             </tr>
             <tr>
               <td>Horario:</td>
               <td> M-V 10:00-14:00 | 17:00-20:00 | S 10:00-14:00{{horario}}
               </td>

             </tr>
              <tr>
               <td>Teléfono:</td>
               <td>913693717 {{telefono}}</td>
             </tr>
              <tr>
               <td>Mail:</td>
               <td>galeriamagdabellotti@gmail.com {{mail}}</td>
             </tr>
             <tr>
               <td>Web:</td>
               <td>www.magdabellotti.com{{web}}</td>
             </tr>
           </table>
         </div>

         </div>
       </div>
   </div>

   <!-- Foto -->
   <div class="centrar mediovg colocarGal fondocolor">
       <div class="wrapper">
<div class="cuadro fondocolor">
           <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner fondocolor">
              <div class="item active">
                <img src="assets/img/galeriamagdamadrid.jpg" alt="foto1">
              </div>

              <div class="item">
                <img src="assets/img/galeriamagdamadrid2.jpg" alt="foto2">
              </div>

              <div class="item">
                <img src="assets/img/galeriamagdamadrid3.jpg" alt="foto3">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
</div>
       </div>
   </div>

</div>

   <!-- Localización -->
   <div class="centrar fondocolor">
      <div class="wrapper">

       <h3 class="fdos">¿Dónde estamos?</h3>
       </div>
   </div>

   <!-- Mapa-->
   <div class="centrar fondocolor">
      <div class="wrapper">
          <div class="mapa" id="map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.4054492199!2d-3.6981162512634294!3d40.41127211133353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422629ae4071a9%3A0x2c69d3aeb41daad!2sGaler%C3%ADa+Magda+Bellotti!5e0!3m2!1ses!2ses!4v1512059170955"  style="border:0" allowfullscreen></iframe>
          </div>
       </div>
   </div>

<!-- PRÓXIMOS EVENTOS -->

   <div class="centrar fondocolor">
      <div class="wrapper">
          <div >

          <h3 class="fdos" id="evento">
              Próximos eventos:
          </h3>
              <div class="centrar">
          <ul >
              <li>

                <p class="ftres">15/12/2017-31/1/2018 {{fecha1}}
                  </p>

               <p class="ftres">Exposición de las obras de Juan Talavera{{event1}}
                   </p>
              </li>

              <li>

                 <p class="ftres">15/1/2018-31/3/2018 {{fecha2}}
                  </p>

                 <p class="ftres">Exposición de las obras de Marisa Paredes {{event2}}
                  </p>
              </li>

              <li>

                <p class="ftres">15/4/2018-31/5/2018{{fecha3}}
                  </p>

                 <p class="ftres">ARCO{{event3}}
                  </p>
              </li>
          </ul>
                </div>
      </div>
      </div>
   </div>

   <app-comentarios></app-comentarios>
   <!-- FIN PROXIMOS EVENTOS HOVER -->
   </main>
