/*--------------------------CREARGALERIA.HTML Y EDITARGALERIA---------------------*/



.formulariogestion{
        padding: 20px 0 50px 0;
        width: 80%;
        margin: 0 10%;
        float: left;
    }

#editar_descripcion{
    height: 100px;
}
#myForm .error {
  color: #ff0000;
  float: left;
}

.gestmedio{
    width: 50%;
    float:  left;
    text-align: center;
}
