
<form  method="post" class="formulariogestion" name="formgestion" action="#" >
  <!-- Nombre galeria -->
  <label for="nombre" class="etiq fcuatro">Nombre de la Galería</label>
  <input class="campo" name="galnombre" placeholder="Escriba aquí el nombre de su galería" />

  <!-- Descripcion galeria -->
  <label for="nombre" class="etiq fcuatro">Descripción</label>
  <input type="text" class="campo" name="galdescripcion" placeholder="Describa aquí su galería" />


  <!-- Añadir imagenes -->
  <label for="photo-1" class="campo medio">Añadir imagenes</label>
  <input type="file" class="campo"  name="gestfotos">
  <input type="file" class="campo"  name="gestfotos">
  <input type="file" class="campo"  name="gestfotos">


  <!-- Contacto galeria -->
  <!-- Dirección -->
  <label for="address" class="etiq fcuatro">Dirección</label>
  <input type="text" class="campo" name="galaddress" placeholder="Escriba aquí la dirección de su galería"
  />

  <!-- Horario -->
  <label for="openingTimes" class="etiq fcuatro">Horario</label>
  <input type="text" class="campo" name="openingTimes" maxlength="60" placeholder="Escriba aquí el horario de su galería"
  />

  <!-- Telefono -->
  <label for="phone" class="etiq fcuatro">Teléfono</label>
  <input type="text" class="campo"  name="galphone" placeholder="Escriba aquí el teléfono de su galería" />

  <!-- Web -->
  <label for="web" class="etiq fcuatro">Sitio web</label>
  <input type="text" class="campo"  name="galweb" placeholder="Escriba aquí la dirección de la página web de su galería"
  />


  <!-- E-mail -->
  <label for="mailReg" class="etiq fcuatro">Correo electrónico</label>
  <input type="text" class="campo"  name="galemail" placeholder="Escriba aquí la dirección de correo de su galería"
  />

  <!-- Submit -->
  <div class="campo">
    <input type="submit" name="guarcambios" value="Guardar cambios">


  </div>

</form>
