<main>
  <div class="hojaform">
    <div class="wrapper">
      <div class="cabecera">
        <div class="title-1">
          <h1 class="funo">Formulario de Registro</h1>
        </div>
        <a href="signin.html"><button type="button" class="btn btn-default btn-md buttonatras">Atrás</button> </a>
      </div>
        <form action="register.php" method="post" class="formularioreg">
          <label for="nombre" class="etiq fcuatro">Nombre*</label>
          <input type="text" class="campo" id="nombre" name="nombre" maxlength="20" placeholder="Escribe aquí tu nombre" required />
          <label for="username" class="etiq fcuatro medio">Nombre de usuario (sólo si no representas Galeria de Arte) </label>
          <input type="text" class="campo medio" id="username" name="username" maxlength="12" placeholder="Escribe aquí tu nombre de usuario" />
          <label for="ngaleria" class="etiq fcuatro medio">Nombre de Galería de Arte</label>
          <input type="text" class="campo medio" id="ngaleria" name="ngaleria" maxlength="12" placeholder="Escribe el nombre de tu galería de arte" />
          <label for="email" id="fusername" class="etiq fcuatro">Email*</label>
          <input type="email" class="campo" id="email" name="email" maxlength="255" placeholder="Escribe tu email" required />
          <label for="birth" class="etiq fcuatro">Fecha de nacimiento</label>
          <input type="date" class="campo" id="birth" name="birth">
          <label for="pass" class="etiq fcuatro">Contraseña*</label>
          <input type="password" class="campo" id="pass" name="pass" maxlength="15" placeholder="Escribe tu contraseña" required />
          <label for="pass2" class="etiq fcuatro"> Repite Contraseña*</label>
          <input type="password" class="campo" id="pass2" name="pass2" maxlength="15" placeholder="Repite tu contraseña" required />
          <label for="subirimg" class="etiq fcuatro">Sube tu imagen de perfil</label>
          <input type="file" class="campo" id="subirimg" name="subirimg" accept="image/*">
            <div class="botonesradio">
              <p class="etiq1 fcuatro">Selecciona qué tipo de usuario eres*</p>
                <label class="fcontainer fcuatro">
                  <input type="radio" name="radio" required>Soy un usuario
                  <span class="checkmark"></span>
                </label>
                <label class="fcontainer fcuatro">
                  <input type="radio" name="radio">Soy una galería de arte
                  <span class="checkmark"></span>
                </label>
            </div>
            <div class="botonescheck">
              <p class="fcuatro">¿Qué gustos tienes? (Opcional. Puedes seleccionar más de uno)</p>
              <label class="fcontainer fcuatro">
                <input type="checkbox">Impresionismo
                  <span class="checkmark"></span>
              </label>
              <label class="fcontainer fcuatro">
                <input type="checkbox">Cubismo
                  <span class="checkmark"></span>
              </label>
              <label class="fcontainer fcuatro">
                <input type="checkbox">Arte contemporáneo
                  <span class="checkmark"></span>
              </label>
              <label class="fcontainer fcuatro">
                <input type="checkbox">Expresionismo
                  <span class="checkmark"></span>
              </label>
            </div>
                <input type="submit" id="botonenviar" value="HECHO"/>
        </form>
      <div class="deco-1">
        <img src="img/mirar.png" alt="Hombre mirando">
      </div>

    </div>
  </div>
</main>
